@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  font-family: 'Lato', sans-serif;
  text-align: left;
  background-color: #f0f465;
  /* background-image: url('../image/green.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
}

#header{
  font-size: 6rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#subheader{
  font-size: 1.1rem;
  text-align: center;
}

.coloured-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-form{
  background-color: #50C5B7;
  width:30%;
  min-width: 16em;
  height: fit-content;
  margin: 5rem;
  padding:40px 70px;
  font-size: 24px;
}

.form-control{
  background-color: #93E54F;
  height: calc(2.5em + 0.75rem + 2px);
  border: 1px solid #93E54F;
}

.form-control:focus{
  background-color: #93E54F;
  height: calc(2.5em + 0.75rem + 2px);
  border: 1px solid #93E54F;
}

.btn{
  margin-top: 10px;
  -webkit-transition: background-color 0.5s ease-in-out,color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out,color 0.5s ease-in-out ;
  -o-transition: background-color 0.5s ease-in-out,color 0.5s ease-in-out ;
  transition: background-color 0.5s ease-in-out,color 0.5s ease-in-out ;
}
.btn:hover {
  color:#fff;
  background-color: #298A08;
  border-color: #298A08;
  cursor: pointer;

}
.btn-primary {
    color: #000000;
    background-color: #93E54F;
    border-color: #93E54F;
}
